<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
</head>
<h2>User info</h2>
<body>
<la>id: </la><tr th:text="${user.getId()}">id</tr>
<br/>
<la>name: </la> <tr th:text="${user.getName()}">name</tr>
<br/>
<la>age: </la><tr th:utext="${user.getAge()}">age</tr>
<br/>
<la>email: </la><tr th:utext="${user.getEmail()}">email</tr>
<br/>
<la>password: </la><tr th:utext="${user.getPassword()}">password</tr>
<br/>
<hr/>
<a th:href="@{/logout}">
    <input type="button" value="logout"/>
</a>
<!--<a th:href="@{/{id}/edit(id=${user.getId()})}">Update</a>-->

</body>
</html>