<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Users List</title>
</head>
<body>
<!--Шапка-->
<div class="container-fluid bg-dark">
    <div class="row">
        <div class="col text-white">
            <h3>
                <div class="p-2">
                    <p><b th:utext="${authUser.email}"></b> with roles:
                        <span th:text="${authUser.roleToString()}"></span>
                    </p>
                </div>
            </h3>
        </div>
        <div class="col text-white-50">
            <div class="p-2">
                <h4 class="text-right">
                    <a th:href="@{/logout}">
                        <span class="align-content-end">Logout</span>
                    </a>
                </h4>
            </div>
        </div>
    </div>
</div>





<!--Контент-->
<div class="container-fluid">
    <div class="row">
        <!--Левая панель-->
        <div class="col-2">
            <br/>
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" th:unless="${authUser.roleToString() == 'USER'}"
                   id="v-pills-admin-tab" data-toggle="pill" href="#v-pills-admin" role="tab" aria-controls="v-pills-admin" aria-selected="true">Admin</a>
                <a th:class="${authUser.roleToString() == 'USER'} ? 'nav-link active' : 'nav-link'"
                   id="v-pills-user-tab" data-toggle="pill" href="#v-pills-user" role="tab" aria-controls="v-pills-user" aria-selected="false">User</a>
            </div>
        </div>
        <!--Правая панель-->
        <div class="col-10">


            <div class="tab-content" id="v-pills-tabContent">
                <!--админ-->
                <div class="tab-pane fade show active" th:unless="${authUser.roleToString() == 'USER'}"  id="v-pills-admin"
                     role="tabpanel" aria-labelledby="v-pills-admin-tab">

                    <h1>Admin panel</h1>
                    <!--вкладки -->
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="users_table-tab" data-toggle="tab" href="#users_table" role="tab" aria-controls="users_table" aria-selected="true">Users table</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="new_user-tab" data-toggle="tab" href="#new_user" role="tab" aria-controls="new_user" aria-selected="false">New user</a>
                        </li>
                    </ul>
                    <!--содержание вкладок-->
                    <div class="tab-content" id="myTabContent">

                        <!--таблица юзеров-->
                        <div class="tab-pane fade show active" id="users_table" role="tabpanel" aria-labelledby="home-tab">
                            <h4>All users</h4>
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>Age</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <body>
                                <tr th:each ="user : ${userList}">
                                    <td th:utext="${user.id}">...</td>
                                    <td th:utext="${user.firstName}">...</td>
                                    <td th:utext="${user.lastName}">...</td>
                                    <td th:utext="${user.age}">...</td>
                                    <td th:utext="${user.email}">...</td>
                                    <td th:utext="${user.roleToString}">...</td>
                                    <td>
                                        <button type="submit" class="btn btn-info" data-toggle="modal" th:data-target="${'#editModal'}+${user.id}">Edit</button>

                                        <!--Модальное окно EDIT-->
                                        <div class="modal fade" th:id="${'editModal'}+${user.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Edit user</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="container-fluid bg-white">
                                                            <div class="d-flex justify-content-center align-items-center">
                                                                <div class="col-5 text-center">
                                                                    <form th:method="PATCH" th:action="@{/admin/{id}/edit(id=${user.getId()})}" th:object="${user}">
                                                                        <div class="form-group">
                                                                            <label for="ID"><b>ID</b></label>
                                                                            <input type="text"
                                                                                   th:name="id"
                                                                                   th:value="*{id}" class="form-control" id="ID" disabled/>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="firstName2"><b>First Name</b></label>
                                                                            <input type="text"
                                                                                   th:name="firstName"
                                                                                   th:value="*{firstName}" class="form-control" id="firstName2"/>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="lastName2"><b>Last Name</b></label>
                                                                            <input type="text"
                                                                                   th:name="lastName"
                                                                                   th:value="*{lastName}" class="form-control" id="lastName2"/>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="age2"><b>Age</b></label>
                                                                            <input type="number"
                                                                                   th:name="age"
                                                                                   th:value="*{age}" class="form-control" id="age2"/>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="email2"><b>Email</b></label>
                                                                            <input type="text"
                                                                                   th:name="email"
                                                                                   th:value="*{email}" class="form-control" id="email2"/>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="password2"><b>Password</b></label>
                                                                            <input type="password"
                                                                                   th:name="password"
                                                                                   th:value="*{password}" class="form-control" id="password2"/>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="roles2"><b>Role</b></label>
                                                                            <select th:name="roles"
                                                                                    th:value="*{roles}" multiple class="form-control form-control-sm" id="roles2" name="roles" size="3" required>
                                                                                <option th:each="role: ${roles}"
                                                                                        th:value="${role.id}"
                                                                                        th:text="${role.getNameNotPrefix()}">
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="submit" class="btn btn-primary">Edit</button>
                                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                        </div>



                                                                    </form>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </td>
                                    <td>

                                        <button  type="submit" class="btn btn-danger" data-toggle="modal" th:data-target="${'#deleteModal'}+${user.id}">Delete</button>

                                        <!--Модальное окно DELETE-->
                                        <div class="modal fade" th:id="${'deleteModal'}+${user.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Edit user</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="container-fluid bg-white">
                                                            <div class="d-flex justify-content-center align-items-center">
                                                                <div class="col-5 text-center">
                                                                    <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
                                                                        <div class="form-group">
                                                                            <label for="ID3"><b>ID</b></label>
                                                                            <input type="text"
                                                                                   th:name="id"
                                                                                   th:value="*{id}" class="form-control" id="ID3" disabled/>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="firstName3"><b>First Name</b></label>
                                                                            <input type="text"
                                                                                   th:name="firstName"
                                                                                   th:value="*{firstName}" class="form-control" id="firstName3" disabled/>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="lastName3"><b>Last Name</b></label>
                                                                            <input type="text"
                                                                                   th:name="lastName"
                                                                                   th:value="*{lastName}" class="form-control" id="lastName3" disabled/>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="age3"><b>Age</b></label>
                                                                            <input type="text"
                                                                                   th:name="age"
                                                                                   th:value="*{age}" class="form-control" id="age3" disabled/>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="email3"><b>Email</b></label>
                                                                            <input type="text"
                                                                                   th:name="email"
                                                                                   th:value="*{email}" class="form-control" id="email3" disabled/>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="roles3"><b>Role</b></label>
                                                                            <select th:name="roles"
                                                                                    th:value="*{roles}" multiple class="form-control form-control-sm" id="roles3" name="roles" size="3"  disabled>
                                                                                <option th:each="role: ${roles}"
                                                                                        th:value="${role.id}"
                                                                                        th:text="${role.getNameNotPrefix()}">
                                                                                </option>
                                                                            </select>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                        </div>



                                                                    </form>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>

                                    </td>


                                </tr>
                                </body>
                            </table>
                        </div>
                        <!--new user-->
                        <div class="tab-pane fade" id="new_user" role="tabpanel" aria-labelledby="profile-tab">
                            <h4>Add new user</h4>
                            <div class="container-fluid bg-white">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="col-5 text-center">
                                        <form th:method="POST" th:action="@{/admin}" th:object="${newUser}">
                                            <div class="form-group">
                                                <label for="firstName"><b>First Name</b></label>
                                                <input type="text" th:field="*{firstName}" class="form-control" id="firstName">
                                            </div>
                                            <div class="form-group">
                                                <label for="lastName"><b>Last Name</b></label>
                                                <input type="text" th:field="*{lastName}" class="form-control" id="lastName"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="age"><b>Age</b></label>
                                                <input type="number" th:field="*{age}" class="form-control" id="age"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="email"><b>Email</b></label>
                                                <input type="text" th:field="*{email}" class="form-control" id="email"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="password"><b>Password</b></label>
                                                <input type="password" th:field="*{password}" class="form-control" id="password"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="roles"><b>Role</b></label>
                                                <select th:field="*{roles}" multiple class="form-control form-control-sm" id="roles" name="roles" size="3" required>
                                                    <option th:each="role: ${roles}"
                                                            th:value="${role.id}"
                                                            th:text="${role.getNameNotPrefix()}">

                                                    </option>
                                                </select>
                                            </div>
                                            <button type="submit" class="btn btn-success">Add new user</button>

                                        </form>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--юзер-->
                <div th:class="${authUser.roleToString() == 'USER'} ? 'tab-pane fade show active' : 'tab-pane fade'" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <h2>User information-page</h2>
                    <div class="container-fluid border rounded">
                        <h4>About user</h4>
                        <table class="table table-striped border-top">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age</th>
                            <th>Email</th>
                            <th>Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:utext="${authUser.id}">...</td>
                            <td th:utext="${authUser.firstName}">...</td>
                            <td th:utext="${authUser.lastName}">...</td>
                            <td th:utext="${authUser.age}">...</td>
                            <td th:utext="${authUser.email}">...</td>
                            <td th:utext="${authUser.roleToString}">...</td>

                        </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>








<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>